.padd_filter{
	padding:18px;
}
.default-sidebar>.side-navbar {
	overflow: scroll !important;
}
#player-slider-volume .ui-slider-handle {
	margin-top: 0px !important;
}
.player-radio-bar .control-stream #current-radio, .player-radio-bar .control-stream .radio-choice {
	padding-right: 0px !important;
}
#partage.show{
	display:inline !important;
}
.dropdown-menu {
	left: 50%;
}
.player-radio-bar .control-stream {
	margin-right: 0px;
}
.slider_banner{
	width:100%;
	height: 475px;
	object-fit: cover;
}
.news_sidebar_first{
	width: 360px;
	height: 240px;
	object-fit: cover;
}
.news_sidebar_other{
	width: 230px !important;
	height: 153px !important;
	object-fit: cover;
}
.square_img_100{
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.rect_165_110{
	width: 165px;
	height: 110px;
	object-fit: cover;
}
.rect_360_203{
	width: 360px;
	height: 203px;
	object-fit: cover;
}
.rect_165_193{
	width: 165px;
	height: 193px;
	object-fit: cover;
}
.rect_100_67{
	width: 100px;
	height: 67px;
	object-fit: cover;
}
.square_83{
	width: 83px;
	height: 83px;
	object-fit: cover;
}
.rect_750_450 {
	width: 750px;
	height: 450px;
	object-fit:cover;
}
.track-row .cover-play.music-play{
	right: 80px;
}
.square_158 {
	width: 158px;
	height: 158px;
	object-fit: cover;
}
.rect_250_375{
	width: 250px;
	height: 375px;
	object-fit: cover;
}
.square_180 {
	width: 180px;
	height: 180px;
	object-fit: cover;
}
.square_230 {
	width: 230px;
	height: 230px;
	object-fit: cover
}
.rect_250_167{
	width: 250px;
	height: 167px;
	object-fit: cover;
}
.rect_360_240{
	width: 360px !important;
	height: 240px !important;
	object-fit: cover;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #ce352f;
	border-color: #ce352f;
}
a.page-link{
	color: #ce352f !important;
}
.carousel-controls button {
	background: transparent;
	border-width: 0px;
}

.jp-controls-holder{
	width: 100%;
}
.jp-progress {
	margin: 0px;
	background-color: #fff;
	border-radius: 15px;
}
.jp-progress,.jp-seek-bar,.jp-play-bar{
	height:3px;

}
.jp-seek-bar,.jp-volume-bar {
	cursor: pointer;
	background-color: #fff;
	border-radius: 10px;
}
.jp-play-bar {
	float: left;
	position: relative;
	/* background-color: #ff4865;*/
	border-radius: 5px;
	overflow: visible!important;
}
.jp-progress .bullet, .jp-volume-bar .bullet {
	position: absolute;
	content: "";
	top: -6.5px;
	right: -7px;
	height: 15px;
	width: 15px;
	background: #fff;
	border-radius: 50%;
}

div.lang {
	float: left;
	padding-left: 20px;
	padding-top: 5px;
}
div.lang a{
	color: #e62e27
}
#lang_modal .modal-content{
	background-color: #e52d27;
	color: white
}
#lang_modal .modal-content p{
	font-size: 18px
}

#lang_modal .modal-content {
	font-size: 14px
}

#lang_modal .modal-content label {
	width: 100%;
}

#lang_modal .modal-content label input {
	float: right;
}

.ms_lang_popup .modal-content ul.lang_list li {
    width: 50%;
    float: left;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-width: 1px 1px 1px 0px;
    margin-bottom: -1px;
    margin-right: -1px;
}
.des{
	text-align: center;
}
.live_poll{
	padding-top: 5px;
	text-align: center;
}


