/* Fonctions */
/**
 * Permet d'ajouter une hauteur max aux classes
 * @lines le nombre de ligne max possible pour la classe
 * @class-name la classe concernée (qui possèdera forcément les classes ellipsis et ellipsis-@{index}l)
 * @size, la taille de la police
 */
/* CSS */
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "Francois One";
  src: url('http://fonts.gstatic.com/s/francoisone/v10/bYbkq2nU2TSx4SwFbz5sCC3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "Basic";
  src: url('http://fonts.gstatic.com/s/basic/v6/hNII2mS5Dxw5C0u_m3mXgA.ttf');
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "none";
  src: none;
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}
@font-face {
  font-family: "Oswald";
  src: url('http://fonts.gstatic.com/s/oswald/v13/uLEd2g2vJglLPfsBF91DCg.ttf');
}
body {
  font-family: "Helvetica";
  padding-top: 200px;
  background-size: 100% auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
  background-position-x: left !important;
  background-position-y: top !important;
  background-attachment: on !important;
}
a {
  outline: 0;
  text-decoration: none;
  background-color: transparent;
  transition-property: background-color,box-shadow,border,color,opacity;
  transition-duration: 0.3s;
}
a:hover,
a:hover h2,
a:hover h3,
a:hover h4 {
  text-decoration: none;
}
p {
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 1.6em;
}
.body_wrap {
  background: linear-gradient(#ffffff, #ffffff);
  padding-bottom: 50px;
}
.body_wrap.boxed {
  background: none;
}
#toplink {
  position: relative;
  background: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
  top: 0;
  width: 100%;
  transition-property: background-color,box-shadow,line-height,height;
  transition-duration: 0.3s;
  display: block;
  z-index: 1;
  box-shadow: none;
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 3px solid #e52d27;
  border-bottom: 1px solid #eeeeee;
}
#toplink .link-contact .btn-toplink {
  display: block;
  color: #9e9e9e;
}
#toplink .link-socials {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  color: #9e9e9e;
}
.navbarheaderzone {
  background: linear-gradient(to bottom, #ffffff, #f8f8f8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ff0000;
}
.navheaderbg {
  position: relative;
}
#navbarscroll.hideScroll #toplink {
  z-index: -1;
  box-shadow: none;
  border: none;
}
#navbarscroll.hideScroll .scrolltoplink {
  height: 0px !important;
}
#navbarscroll.hideScroll .logo {
  width: 40px;
}
#navbarscroll.hideScroll .navbar-brand {
  height: 50px;
}
#navbarscroll.hideScroll .navbar-nav > li > a {
  line-height: 20px;
}
#navbarscroll {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}
.navbar {
  border: none;
}
.nav-global {
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 20;
  position: relative;
}
.nav-global .openmenuButton {
  line-height: 80px;
  position: absolute;
  z-index: 999;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}
.nav-global .openmenuButton i {
  font-size: 28px;
  padding-top: 12px;
  color: #1c1c1f;
}
.hideScroll .nav-global .openmenuButton {
  line-height: 50px;
}
.navbar-default {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
.navbar-nav > li > a {
  line-height: 40px;
}
.navbar-brand {
  padding: 5px 15px;
  height: 70px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.navbar-default .navbar-nav > li > a {
  font-family: "Helvetica";
  color: #222222 !important;
  font-family: "Oswald";
}
.navbar-default .navbar-nav > li > a:hover {
  color: #e52d27 !important;
}
.navbar-default .navbar-nav > li > a.sf-with-ul:hover:after {
  border-top-color: #e52d27 !important;
}
.openmenuButton .fa-bars {
  color: green;
}
#menu-responsive {
  background: linear-gradient(to bottom, #f8f8f8, #f8f8f8) !important;
}
#menu-responsive ul#content-menuresponsive {
  background: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
}
#menu-responsive ul#content-menuresponsive .list-group {
  background: transparent;
}
#menu-responsive .navbar-header img {
  max-height: 100px !important;
}
#menu-responsive .entete {
  position: relative;
  z-index: 10;
  box-shadow: none;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
}
#menu-responsive .panel {
  border-radius: 0px !important;
  box-shadow: none;
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 1px solid #c9c9c9;
}
#menu-responsive .panel.list-group a,
#menu-responsive .panel.list-group span {
  background: transparent;
}
#menu-responsive .list-group-item {
  color: #000000 !important;
  border: 1px solid #ddd;
  background-color: #fff;
}
#menu-responsive span.rLink {
  font-family: "Helvetica";
  font-size: 12px;
  color: #000000 !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  text-transform: uppercase;
  color: #000;
  border: 0 none !important;
  background: transparent !important;
}
#menu-responsive .list-group ul {
  border-top: 4px solid rgba(148, 22, 18, 0.7);
  box-shadow: none;
  background: linear-gradient(to bottom, #e52d27, #e52d27);
}
#menu-responsive .list-group ul .panel {
  border: none;
  background: none;
  background: transparent;
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ff0000;
}
#menu-responsive .list-group ul .panel a {
  font-family: "Helvetica";
  font-size: 14;
  color: #ffffff !important;
  text-transform: none;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  background: transparent;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
  background: #e52d27;
  text-shadow: none;
}
.btn-primary:hover {
  background: #d8201a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
  box-shadow: none;
  outline: none;
}
/*
 * Bloc content
 */
.row.no-gutters {
  padding-left: 0;
  padding-right: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.container.no-gutters {
  padding-left: auto;
  padding-right: auto;
}
.footer .carousel-control {
  color: #ffffff !important;
  background: none !important;
}
.footer .carousel-control:hover {
  background: none !important;
  color: rgba(255, 255, 255, 0.63) !important;
}
.footer .bloc-content-title {
  overflow: hidden !important;
  border-left: 0px solid #ff0000 !important;
  border-right: 0px solid #ff0000 !important;
  border-top: 0px solid #ff0000 !important;
  border-bottom: 2px solid #ffffff !important;
  background: transparent;
}
.footer .bloc-content-title:not(.highlight) {
  box-shadow: none !important;
}
.footer .bloc-content-title h3,
.footer .bloc-content-title h2 {
  height: 43px;
  line-height: 31px;
  font-family: "Helvetica" !important;
  color: #ffffff !important;
  font-size: 23px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Francois One" !important;
}
.bloc-content-title {
  margin-bottom: 20px;
  /* modification du background */
  margin-top: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) !important;
  border-left: 0px solid #af2424;
  border-right: 0px solid #9b1c18;
  border-top: 0px solid #ff0000;
  border-bottom: 4px solid #9b1c18;
  background: linear-gradient(to bottom, #e52d27, #e52d27);
}
.bloc-content-title.slider-bloc-content-title {
  display: flex;
  align-items: stretch;
  -webkit-display: flex;
  -webkit-align-items: stretch;
  -moz-display: flex;
  -moz-align-items: stretch;
  -ms-display: flex;
  -ms-align-items: stretch;
}
.bloc-content-title .read-more-title {
  line-height: 46px;
}
.bloc-content-title h3,
.bloc-content-title h2 {
  height: 46px;
  line-height: 34px;
  font-family: "Helvetica" !important;
  color: #ffffff !important;
  font-size: 26px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
  margin: 0;
  padding: 7px;
  font-family: "Oswald" !important;
}
.bloc-content-title h3.h2-slider,
.bloc-content-title h2.h2-slider,
.bloc-content-title h3.h3-slider,
.bloc-content-title h2.h3-slider {
  display: flex;
  flex-basis: 100%;
  -webkit-display: flex;
  -webkit-flex-basis: 100%;
  -moz-display: flex;
  -moz-flex-basis: 100%;
  -ms-display: flex;
  -ms-flex-basis: 100%;
}
.footer .testimonial,
.footer h4 {
  color: #ffffff !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Helvetica" !important;
}
.footer h4.ellipsis.ellipsis-2l {
  max-height: 36px;
}
.footer h4.ellipsis.ellipsis-1l {
  max-height: 18px;
}
.footer h4 {
  line-height: 18px;
}
.footer p {
  color: #ffffff !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: none !important;
  margin: 0;
  font-family: "Helvetica" !important;
}
.footer .testimonial .testimonial-author span {
  background: none;
}
.footer .testimonial .testimonial-author:before,
.footer .testimonial .testimonial-author:after {
  width: 15px !important;
}
.footer .testimonial .testimonial-author:after {
  right: 0px;
}
.cover-preview {
  width: 100%;
  height: 100%;
  position: relative;
}
.cover-preview:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 71;
  background: linear-gradient(to bottom, #e52d27, #e52d27);
  -ms-transition-property: opacity;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
}
a:hover .cover-preview:before {
  opacity: 0.5;
}
.cover-img {
  max-width: 100%;
  width: 100%;
}
h3 {
  font-size: 24px;
  color: #191919;
  line-height: normal;
  font-family: "Helvetica";
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none !important;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
h4 {
  font-size: 17px;
  color: #191919;
  line-height: normal;
  font-family: "Helvetica";
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none !important;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
h4.bloc-track-title {
  font-family: "Helvetica";
  color: #191919 !important;
  font-size: 17px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: none !important;
}
.bloc-track-title.ellipsis.ellipsis-2l {
  max-height: 44px;
}
.bloc-track-title.ellipsis.ellipsis-1l {
  max-height: 22px;
}
.bloc-track-title.ellipsis.ellipsis-1l {
  line-height: 22px;
}
h3.h3-1 {
  font-family: "Helvetica";
  color: #000000 !important;
  font-size: 26px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: none !important;
  text-overflow: ellipsis;
  font-family: "Basic";
}
.h3-1.ellipsis.ellipsis-4l {
  max-height: 132px;
}
.h3-1.ellipsis.ellipsis-3l {
  max-height: 99px;
}
.h3-1.ellipsis.ellipsis-2l {
  max-height: 66px;
}
.h3-1.ellipsis.ellipsis-1l {
  max-height: 33px;
}
.h3-1.ellipsis.ellipsis-1l {
  line-height: 33px;
}
h3.h3-2 {
  font-family: "Helvetica";
  color: #111111 !important;
  font-size: 16px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: none !important;
  margin-top: 5px;
  margin-bottom: 10px;
}
.h3-2.ellipsis.ellipsis-4l {
  max-height: 80px;
}
.h3-2.ellipsis.ellipsis-3l {
  max-height: 60px;
}
.h3-2.ellipsis.ellipsis-2l {
  max-height: 40px;
}
.h3-2.ellipsis.ellipsis-1l {
  max-height: 20px;
}
.h3-2.ellipsis.ellipsis-1l {
  line-height: 20px;
}
h3.h3-3 {
  font-family: "Helvetica";
  color: #111111 !important;
  font-size: 15px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h3-3.ellipsis.ellipsis-4l {
  max-height: 76px;
}
.h3-3.ellipsis.ellipsis-3l {
  max-height: 57px;
}
.h3-3.ellipsis.ellipsis-2l {
  max-height: 38px;
}
.h3-3.ellipsis.ellipsis-1l {
  max-height: 19px;
}
.h3-3.ellipsis.ellipsis-1l {
  line-height: 19px;
}
.listed .row:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.listed .row {
  margin-top: 15px;
  padding-top: 0px;
  position: relative;
}
.wrap .col-md-1 {
  padding-right: 12px;
  padding-left: 12px;
}
.listed .row.border {
  border: none !important;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-left: 0%;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}
.listed .row.border:last-child {
  visibility: hidden;
}
.thumb-sm {
  width: 60px;
  display: inline-block;
}
.thumb-sm img {
  width: 60px;
}
.thumb-m {
  width: 80px;
  display: inline-block;
}
.thumb-m img {
  width: 80px;
}
.pull-left {
  float: left !important;
}
.ellipsis {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-1l {
  -webkit-line-clamp: 1;
  display: block;
  white-space: nowrap;
}
.ellipsis-2l {
  -webkit-line-clamp: 2;
}
.ellipsis-3l {
  -webkit-line-clamp: 3;
}
.ellipsis-4l {
  -webkit-line-clamp: 4;
}
.ellipsis-5l {
  -webkit-line-clamp: 5;
}
.bc-one-column h3,
.bc-one-column h4 {
  margin-top: 4px;
}
.track-row .cover-preview .cover-infos {
  background-color: #e52d27 !important;
  color: #ffffff;
}
.carousel-control {
  color: #ffffff !important;
}
.carousel-control:hover {
  color: rgba(255, 255, 255, 0.78) !important;
}
.box-play {
  position: relative;
  font-size: 24px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  background: none;
  line-height: 45px;
  float: right;
}
.hover_type {
  position: absolute;
  z-index: 10;
  left: 20px;
  bottom: 80px;
  display: block;
}
.hover_type span {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #e52d27;
  background-position: 16px 14px;
  background-repeat: no-repeat;
  background-size: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hover_type.hover_small {
  left: 10px;
  bottom: 50px;
}
.hover_type.hover_small span {
  width: 40px;
  height: 40px;
  background-position: 12px 10px;
}
.hover_type span.hovervideo {
  background-image: url('../../themes/theme3/images/new_theme/video_thumb_bg.png');
}
.wrap .testimonial i.fa {
  color: #e52d27;
  font-size: 30px;
}
.owl-carousel {
  margin-left: 0px !important;
}
#new-slider.carousel.slide {
  box-shadow: 0px 0px 10px #8a8a8a;
}
.carousel-controls {
  flex-basis: 85px;
  -webkit-flex-basis: 85px;
  -moz-flex-basis: 85px;
  -ms-flex-basis: 85px;
  margin-left: 10px;
  background: #000;
  display: flex;
  align-items: stretch;
  -webkit-display: flex;
  -webkit-align-items: stretch;
  -moz-display: flex;
  -moz-align-items: stretch;
  -ms-display: flex;
  -ms-align-items: stretch;
}
.owl-prev {
  display: flex;
  align-items: stretch;
  -webkit-display: flex;
  -webkit-align-items: stretch;
  -moz-display: flex;
  -moz-align-items: stretch;
  -ms-display: flex;
  -ms-align-items: stretch;
}
.carousel-bloc .carousel-controls {
  display: flex;
  align-items: stretch;
  -webkit-display: flex;
  -webkit-align-items: stretch;
  -moz-display: flex;
  -moz-align-items: stretch;
  -ms-display: flex;
  -ms-align-items: stretch;
  position: relative;
  background: transparent;
}
.carousel-bloc .carousel-control {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  line-height: 37px;
  opacity: 1;
  background: #A00F17;
  padding: 4px 0;
  width: 50%;
  cursor: pointer;
  text-shadow: none;
}
.carousel-bloc .carousel-control .fa {
  display: flex;
  align-items: center;
  -webkit-display: flex;
  -webkit-align-items: center;
  -moz-display: flex;
  -moz-align-items: center;
  -ms-display: flex;
  -ms-align-items: center;
  padding: 10px;
}
span.bloc-track-artist {
  color: #777777 !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: none !important;
  font-family: "Helvetica";
  margin-top: 4px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.bloc-track-artist.ellipsis.ellipsis-2l {
  max-height: 36px;
}
.bloc-track-artist.ellipsis.ellipsis-1l {
  max-height: 18px;
}
.bloc-track-artist.ellipsis.ellipsis-1l {
  line-height: 18px;
}
.breadcrumb {
  display: block;
  border-radius: 0px;
  padding-left: 15px;
  background: linear-gradient(to bottom, #f1f1f1, #f1f1f1);
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ff0000;
}
.breadcrumb > li + li:before {
  color: #000000 !important;
}
.breadcrumb > .active {
  color: #818181 !important;
}
.breadcrumb a {
  color: #5a5a5a;
}
.breadcrumb a:hover {
  color: #e52d27;
}
.read-more-title.open-dedication:hover,
.hide-modal:hover {
  cursor: pointer;
}
.footer .read-more-title {
  display: block !important;
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.68) !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-family: "Helvetica" !important;
  text-align: center;
}
.footer .read-more-title:hover {
  color: #ffffff !important;
}
.read-more-title {
  margin-left: 12px;
  float: right;
  position: relative;
  top: 4px;
  right: 8px;
  display: none !important;
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.68) !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  text-align: center;
}
.read-more-title:hover {
  color: #ffffff !important;
}
.read-more-title.open-dedication:hover,
.hide-modal:hover {
  cursor: pointer;
}
span.infos-article {
  padding: 10px 0 10px 0;
  position: relative;
  clear: both;
  display: block;
  color: #e52d27 !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-family: "Helvetica" !important;
}
.layout-headtitle-border {
  border-bottom: 2px solid #ededed;
}
.article h2 {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: Helvetica;
  font-weight: 800;
  color: #333333;
  line-height: 1.6em;
  margin-top: 20px;
}
.social-share-wrap {
  position: absolute;
  top: 0;
  left: 0;
}
.social-sticky {
  position: absolute;
  margin-left: -80px;
  z-index: 3;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  background: transparent;
  background: linear-gradient(to bottom, #ffffff, #ffffff) !important;
}
.social-sticky.affix {
  position: fixed;
  top: 110px;
}
.social-sticky ul {
  padding: 0;
}
.social-sticky-element {
  color: #fff;
  position: relative;
  margin-top: 8px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  display: table;
  font-family: Helvetica;
}
.social-sticky-element.all {
  background-color: #e52d27;
  cursor: default;
  height: 75px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}
.social-sticky-element.facebook {
  background-color: #3B5998;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
}
.social-sticky-element.twitter {
  background-color: #55acee;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
}
.social-sticky-element.googleplus {
  background-color: #dc4e41;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
}
.social-sticky-element.comments {
  background-color: #9c9e9f;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
}
li.social-sticky-element:hover {
  opacity: 0.8;
}
li.social-sticky-element.all:hover {
  opacity: 1;
}
.social-sticky-infos {
  -webkit-transition: padding .1s linear 0s;
  transition: padding .1s linear 0s;
  display: table-cell;
  width: 60px;
  height: 53px;
  vertical-align: middle;
  text-align: center;
  padding-top: 7px;
}
.social-sticky-infos i {
  display: inline-block;
}
.footer {
  background: linear-gradient(to bottom, #e52d27, #e52d27);
  padding-top: 40px;
  -webkit-box-shadow: inset 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: none;
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 7px solid #8b1713;
  border-bottom: 0px solid #ff0000;
}
.footer .mosaic-footer {
  display: block;
  margin-top: 10px;
}
.footer .mosaic-footer:first-child {
  margin: 0;
}
.footer .bloc-content-title h3 {
  color: #fff;
}
.bloc-content p {
  color: #535353 !important;
  font-size: 15px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: none !important;
  opacity: 1;
  font-family: "Helvetica" !important;
}
.bloc-content .date {
  color: #e52d27 !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  opacity: 1;
  font-family: "Helvetica" !important;
}
.footer .mentions-radioking {
  background: rgba(0, 0, 0, 0.3);
}
.mentions-radioking .copyright {
  height: 50px;
  line-height: 50px;
  color: #fff;
  opacity: 0.4;
  font-size: 13px;
}
.mentions-radioking .copyright a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
/*** PLAYER RADIO ***/
.player-radio-bar {
  font-family: "Helvetica";
  position: relative;
  display: flex;
  height: 80px;
  color: #fff;
  background: linear-gradient(to bottom, #e52d27, #e52d27);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ffffff;
}
.player-radio-bar .fa {
  color: #ffffff;
}
.player-radio-bar .HD-button g {
  fill: #ffffff;
}
.player-radio-bar .control-track {
  float: left;
  margin-right: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  padding-top: 0 !important;
  height: 80px;
  padding: 0 22px;
}
.hideScroll .player-radio-bar .control-track {
  display: block;
  height: 50px;
}
.player-radio-bar .control-track .title,
.player-radio-bar .control-track .artist {
  max-width: 100%;
  align-self: flex-start;
  padding-right: 10px;
}
.player-radio-bar .control-track .artist {
  font-family: "Helvetica";
  color: #ffffff !important;
  font-size: 16px;
  line-height: 20px;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-family: "Oswald";
  padding-top: 5px;
}
.player-radio-bar .control-track .title {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.75) !important;
  font-size: 20px;
  line-height: 25px;
  font-style: italic;
  text-decoration: none;
  font-weight: normal;
  text-transform: none;
  font-family: "Oswald";
}
.hideScroll .player-radio-bar .control-track {
  display: block;
  height: 50px;
}
.player-radio-bar .control-track .title,
.player-radio-bar .control-track .artist {
  align-self: flex-start;
}
.player-radio-bar .control-track .artist {
  padding-top: 5px;
}
.player-radio-bar.player-min {
  height: 50px !important;
  color: #fff;
}
body.player-bottom {
  padding-top: 120px;
}
.header-fixed-top {
  position: absolute;
}
#player-header.player-radio-bar {
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ffffff;
}
.player-bottom .nav-global {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.player-bottom .player-radio-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07000000000000001);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07000000000000001);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}
.player-radio-bar a {
  color: #fff;
  cursor: pointer;
}
.player-radio-bar .control-stream {
  float: left;
  background: linear-gradient(to bottom, #e52d27, #e52d27);
  margin-right: 15px;
}
.player-radio-bar .control-stream #current-radio,
.player-radio-bar .control-stream .radio-choice {
  width: 100%;
  height: 80px;
  padding-right: 25px;
  background: linear-gradient(to bottom, #d52822, #d52822);
}
.player-radio-bar.player-min .control-stream #current-radio,
.player-radio-bar.player-min .control-stream .radio-choice {
  width: 100%;
  height: 50px;
  padding-right: 25px;
}
.player-radio-bar .control-stream .radio-choice:hover {
  background: rgba(0, 0, 0, 0.12);
}
.player-radio-bar .control-stream #other-radios {
  display: none;
}
.player-radio-bar .control-stream:hover #other-radios {
  display: block;
}
.player-radio-bar .control-stream:hover #other-radios:hover {
  cursor: pointer;
}
.player-radio-bar .logo-stream,
.logo-stream-others {
  height: 80px;
  width: 80px;
  margin-right: 15px;
  vertical-align: top;
}
.player-radio-bar.player-min .logo-stream,
.player-radio-bar.player-min .logo-stream-others {
  height: 50px;
  width: 50px;
}
.player-radio-bar .stream-name,
.player-radio-bar .stream-name-others {
  font-family: "Helvetica";
  color: #ffffff !important;
  font-size: 16px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  padding-right: 10px;
  font-size: 16px;
  display: inline-block;
  width: 92px;
  height: 80px;
  overflow: hidden;
  font-family: "Oswald";
}
.player-radio-bar i.fa.fa-caret-down {
  position: relative;
  top: -38px;
}
.player-radio-bar a.control-play {
  display: block;
  float: left;
  width: 68px;
  text-align: center;
  cursor: pointer;
  background: transparent;
}
.player-radio-bar a.control-play .fa-play {
  color: #ffffff;
}
.player-radio-bar .control-play i {
  font-size: 24px;
  line-height: 80px;
}
.player-radio-bar .control-infos {
  float: left;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.player-radio-bar .control-cover {
  display: block;
  float: left;
  margin-right: 20px;
}
.player-radio-bar span {
  line-height: 80px;
}
.player-radio-bar .control-cover img {
  width: 60px;
  height: auto;
  overflow: hidden;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}
.player-radio-bar .control-track {
  float: left;
  margin-right: 15px;
  width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  padding-top: 20px;
}
.player-radio-bar.player-min .stream-name,
.player-radio-bar.player-min .stream-name-others {
  font-size: 14px;
  width: 82px;
  height: 50px;
}
.player-radio-bar.player-min .stream-name,
.player-radio-bar.player-min .stream-name-others {
  font-size: 14px;
  width: 82px;
  height: 50px;
}
.player-radio-bar.player-min i.fa.fa-caret-down {
  top: -22px;
}
.player-radio-bar.player-min .control-play i {
  line-height: 50px;
}
.player-radio-bar.player-min span {
  line-height: 50px;
}
.player-radio-bar.player-min .control-track {
  width: 290px;
}
.player-radio-bar.player-min .control-track {
  padding-top: 0;
}
.player-radio-bar.player-min .control-cover img {
  width: 40px;
  overflow: hidden;
}
.player-radio-bar.player-min .control-track .title,
.player-radio-bar.player-min .control-track .artist {
  top: 0;
  display: inline;
  font-size: 14px;
}
.player-radio-bar.player-min .half-track {
  display: inline;
}
.player-radio-bar.player-min .artist:empty + .half-track {
  display: none;
}
.player-radio-bar.player-min .control-last-track {
  margin-top: 5px;
}
.player-radio-bar.player-min .control-last-track i {
  font-size: 14px;
  vertical-align: baseline;
  line-height: 14px;
}
.player-radio-bar.player-min .toggle-volume {
  margin-top: 15px !important;
}
.player-radio-bar.player-min .muteVolume {
  line-height: 50px;
}
.player-radio-bar.player-min #player-slider-volume {
  margin-top: 25px;
}
.player-radio-bar.player-min .control-slider-volume {
  width: 70px;
  height: 50px;
}
.player-radio-bar.player-min #seek-bar {
  position: relative;
  top: -15px;
}
.player-radio-bar.player-min .control-infos {
  height: 50px !important;
  overflow: hidden;
}
.player-radio-bar .artist.podcastPlay,
.player-radio-bar .title.podcastPlay {
  position: relative;
  left: 7px;
  top: 0px !important;
  margin-bottom: 14px;
  font-style: normal !important;
}
.player-radio-bar .half-track {
  display: none;
}
.player-radio-bar .control-actions i {
  margin-right: 10px;
}
.player-radio-bar .control-actions {
  float: left;
}
.player-radio-bar .control-actions a.disabled {
  pointer-events: none;
  cursoer: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.player-radio-bar #partage {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}
.player-radio-bar #partage > div {
  line-height: 0;
  position: absolute;
  transition: all 0.2s ease 0s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border-radius: 3px;
  background-color: #242424;
  -webkit-box-shadow: 0 0 5px 0 #757575;
  -moz-box-shadow: 0 0 5px 0 #757575;
  box-shadow: 0 0 5px 0 #757575;
}
.player-radio-bar #partage > div:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -7px;
  content: ' ';
  pointer-events: none;
  border: solid transparent;
  border-width: 7px;
  border-bottom-color: rgba(117, 117, 117, 0.6);
}
.player-radio-bar #partage > div i {
  margin-right: 0;
}
.player-radio-bar #partage:hover > div,
.player-radio-bar #partage > div:hover {
  height: initial;
  opacity: 1;
  overflow: initial;
}
.player-radio-bar .control-volume {
  float: left;
}
.player-radio-bar .control-actions-right {
  float: right;
}
.player-radio-bar .control-last-track {
  line-height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 25px;
  background: rgba(255, 255, 255, 0.15);
  padding: 0 10px;
  float: left;
  border-radius: 50%;
  height: 40px;
  margin-top: 20px;
  vertical-align: middle;
  padding-left: 7px;
}
.player-radio-bar.showScroll {
  display: block;
}
.player-radio-bar .toggle-volume {
  margin-right: 10px;
  margin-top: 30px;
  float: left;
}
.player-radio-bar .control-slider-volume {
  width: 70px;
  display: inline-block;
  margin-left: 3px;
  vertical-align: sub;
  height: 80px;
}
.player-radio-bar #player-slider-volume {
  height: 9px;
  padding-top: 0;
  cursor: pointer;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 40px;
}
.player-radio-bar .bgSliderVolume {
  height: 2px !important;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
}
.player-radio-bar .seek-slider {
  height: 2px !important;
  width: 100% !important;
  border: none !important;
}
.player-radio-bar .bgSeekSlider {
  height: 2px !important;
  width: 100% !important;
  background: rgba(255, 255, 255, 0.25);
  position: relative;
}
.player-min .podcastPlay.podcastPlay {
  top: -7px !important;
}
#player-slider-volume.ui-widget-content {
  background: none;
  border: 0;
}
#player-slider-volume.ui-slider-horizontal {
  height: 2px;
}
#player-slider-volume .ui-slider-range-min {
  height: 2px;
  width: 100%;
  background: #ffffff !important;
  position: absolute;
}
#player-slider-volume .ui-slider-handle {
  width: 10px;
  height: 10px;
  background: #ffffff;
  position: absolute;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  padding: 0;
  display: block;
  border: 0;
  margin-top: 1px;
}
#seek-bar {
  width: 100%;
}
#seek-bar .bar-zone {
  margin-left: 8px;
  width: 55%;
  float: left;
}
#seek-bar div.time-left {
  height: 10px;
  line-height: 1em;
  float: left;
  position: relative;
  top: -6px;
  margin-left: 5px;
  width: 35%;
  text-align: center;
}
#seek-bar.ui-widget-content {
  background: none;
  border: 0;
}
#seek-bar.ui-slider-horizontal {
  height: 2px;
}
#seek-bar .ui-slider-range-min {
  height: 2px;
  width: 100%;
  background: #fff !important;
  position: relative;
  top: -2px;
}
#seek-bar .ui-slider-handle {
  width: 10px;
  height: 10px;
  background: #fff;
  position: relative;
  top: -7px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  padding: 0;
  display: block;
  border: 0;
  margin-top: 0 !important;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -5px;
}
.last-track-zone {
  display: block;
}
.player-radio-bar .last-track-zone {
  float: left;
  height: 80px;
  width: 40px;
  margin-right: 20px;
}
.player-radio-bar.player-min .last-track-zone {
  height: 50px;
}
.last-track-zone .last-track-button {
  width: 100%;
  height: 100%;
}
.last-track-zone .container-last-track-list {
  line-height: initial;
}
.last-track-zone .last-track-list {
  display: none;
  position: relative;
  left: -200px;
  width: 400px;
  font-family: "Helvetica";
  background-color: #e52d27;
}
.last-track-zone .last-track-list .row {
  padding-top: 5px;
  padding-bottom: 5px;
}
.last-track-zone .last-track-list .row:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.last-track-zone .last-track-list .track-cover img {
  width: 40px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}
.last-track-zone .last-track-list .track-hour,
.last-track-zone .last-track-list .track-titration,
.last-track-zone .last-track-list .track-download {
  font-family: "Helvetica" !important;
  color: #ffffff !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
}
.last-track-zone .last-track-list .track-title {
  line-height: 18px;
  margin-top: 3px;
  font-family: "Helvetica" !important;
  color: #ffffff !important;
  font-style: italic;
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  opacity: 0.8;
}
.last-track-zone .last-track-list .track-artist {
  line-height: 19px;
  font-size: 13px;
}
.last-track-zone:hover .last-track-list {
  display: block;
}
.last-track-zone .last-track-title-zone {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
}
.last-track-zone .unavailable-tracks {
  width: 100%;
  text-align: center;
}
.last-track-zone .last-tracks {
  overflow-y: auto;
  max-height: 300px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}
.last-track-zone .last-tracks .track {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}
.last-track-zone .last-tracks .track:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.last-track-zone .last-tracks .track span.track-artist {
  font-weight: bold;
  line-height: normal;
}
/* Custom CSS for others parts */
#footer {
  margin: 0 auto;
  width: 1000px;
  padding-bottom: 85px;
  z-index: 1;
}
#overlay {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 200px;
  height: 2000px;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  opacity: 1;
  z-index: 999;
}
#img-overlay {
  z-index: 9999;
  top: 260px;
  width: 100%;
  text-align: center;
  color: #e52d27;
}
#text-overlay {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  color: #e52d27;
  font-family: "Helvetica";
}
.list_element h4,
.list_element h3,
.list_element h2,
.list_element h1 {
  color: #000000 !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Helvetica" !important;
}
.list_element h4:hover,
.list_element h3:hover,
.list_element h2:hover,
.list_element h1:hover {
  color: #e52d27 !important;
}
.list_element h2 {
  font-size: 30px;
  line-height: 38px;
  max-height: 114px;
}
.list_element h3 {
  font-weight: 400;
  font-size: 22px;
}
.list_element h4 {
  font-size: 22px;
}
.list_element .list-action-zone:hover h1,
.list_element .list-action-zone:hover h2,
.list_element .list-action-zone:hover h3,
.list_element .list-action-zone:hover h4 {
  color: red;
}
.list_element .list-img-zone .list-img-thumb {
  width: 100%;
}
.list_element .list_text {
  color: black;
  text-align: justify;
  display: block;
  font-size: 14px;
  color: #646464 !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: normal !important;
  text-transform: none !important;
  margin: 0;
  display: -webkit-box;
  font-family: "Helvetica" !important;
}
.list_element .list_text.ellipsis.ellipsis-2l {
  max-height: 36px;
}
.list_element .list_text.ellipsis.ellipsis-1l {
  max-height: 18px;
}
.list_element .list_text.ellipsis.ellipsis-1l {
  line-height: 18px;
}
.list_element .list_trans {
  display: block;
  font-size: 14px;
  color: #e52d27 !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Helvetica" !important;
  position: relative;
  font-weight: 600;
  opacity: 1;
}
.list_element.boxed {
  box-shadow: auto !important;
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #ebebeb !important;
}
.list_element.boxed:last-child {
  border-bottom: none !important;
}
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 17px;
  color: #232C53;
}
.link-contact .btn-toplink {
  color: #fff;
}
.logo {
  width: 260px;
}
#navbarscroll.hideScroll .logo {
  width: 160px;
}
h3,
h4 {
  font-family: "Helvetica";
  text-transform: none;
}
.carousel-bloc .carousel-control {
  color: #232C53;
  background: none;
}
.carousel-bloc .carousel-control:hover {
  color: #353F6A;
  background: none;
}
.box-play.like-inline a {
  color: #e52d27 !important;
}
.whole-div-link {
  color: inherit;
}
.whole-div-link:last-child .boxed {
  border-bottom: none !important;
}
.rss-row {
  margin-bottom: 20px !important;
}
.rss-row .rss-text {
  text-align: justify;
}
.rss-row.boxed {
  box-shadow: auto !important;
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #ebebeb !important;
}
.bloc-pub img {
  max-width: 100%;
}
.track-hour {
  font-weight: bold;
  color: black;
}
.col-md-6 .track-hour,
.owl-carousel .track-hour {
  position: absolute;
  top: 10px;
  left: 25px;
  color: white;
}
.col-md-6 .track-infos,
.owl-carousel .track-infos {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: white;
  margin-right: 10px;
}
.col-md-6 .track-artist,
.owl-carousel .track-artist {
  margin-top: 5px;
}
.owl-carousel .track-infos {
  bottom: 30px;
  left: 15px;
}
.owl-carousel .track-hour {
  left: 15px;
}
.slide-full .owl-carousel .track-infos {
  bottom: 70px;
}
.slide-13 .owl-carousel .track-infos {
  bottom: 25px;
}
.slide-13 .owl-carousel .track-hour {
  top: 15px;
}
.owl-carousel .track-hour.slider-13 {
  margin-bottom: 20px;
}
.height-42 {
  min-height: 42px;
}
.clear {
  clear: both;
}
/*** MENU PRINCIPAL DEROULANT ***/
/*** ESSENTIAL STYLES ***/
.sf-menu {
  float: left;
}
.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu li {
  position: relative;
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: none;
  transition: none;
}
.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 14em;
  /* allow long menu items to determine submenu width */
  *width: 14em;
  /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}
.sf-menu ul ul {
  top: 0;
  left: 100%;
}
.sf-menu a {
  display: block;
  position: relative;
  padding: 1em 1em 1em 1.25em;
  text-decoration: none;
  zoom: 1;
  /* IE7 */
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 14px;
  margin: 0 0 0 10px;
  -webkit-transition: none;
  transition: none;
  font-family: "Oswald";
}
.sf-menu ul,
.sf-menu ul ul {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  background: linear-gradient(to bottom, #ec4f4f, #ec4f4f) !important;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sf-menu > li:hover,
.sf-menu > li.sfHover {
  background: transparent;
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}
.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: rgba(0, 0, 0, 0.2);
}
.sf-menu ul li .spacer {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  height: 1px;
}
.sf-menu ul li:hover > .spacer,
.sf-menu ul li.sfHover > .spacer {
  background-color: transparent;
}
.sf-menu ul li:first-child:hover,
.sf-menu ul li:first-child.sfHover {
  margin-top: 0;
  border-top: none;
}
/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 2em;
  *padding-right: 1em;
  /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.65em;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #222222;
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #fff;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  background-color: transparent;
  margin-top: -3px;
  border-top-color: #ec4f4f;
  /* IE8 fallback colour */
}
/*********/
.anim-row a:focus,
.rss-row a:focus,
.anim-row a:hover,
.rss-row a:hover {
  color: #232c53 !important;
}
.rss-row h2 {
  font-size: 20px;
}
.rss-row .rss-play-zone {
  text-align: center;
  margin-top: 4%;
}
.rss-row .rss-play-zone .rss-play {
  background: none;
  border: none;
  display: block;
  font-size: 350%;
  position: relative;
  top: 50%;
  color: #e52d27;
}
.rss-row .rss-play-zone .rss-play:hover {
  opacity: 0.8;
}
.song-img {
  width: 100%;
  height: auto;
}
.gallery-row img {
  width: 100%;
  height: auto;
}
.counter-container {
  padding: 0 !important;
  width: 100% !important;
}
.top10-row.boxed,
.track-row.boxed {
  box-shadow: auto !important;
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #ebebeb !important;
}
.top10-row.boxed:last-child,
.track-row.boxed:last-child {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
.song-img-zone .song-img {
  width: 100%;
  height: auto;
}
.song-img-zone .song-play-icon {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 40%;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.layout-title {
  box-shadow: none;
}
.layout-title .main_title {
  padding-left: 15px;
  color: #333333 !important;
  font-size: 36px !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: none !important;
  margin: 0;
  font-family: "Helvetica" !important;
  border-left: 0px solid #202020;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ff0000;
}
.layout-bloc .title-col {
  text-align: center;
}
.layout-bloc .title-col-liste {
  text-align: left;
}
.layout-bloc .title-col .song-info,
.layout-bloc .title-col-liste .song-info {
  font-size: 20px;
  height: 30px;
}
.layout-bloc .title-col .artiste,
.layout-bloc .title-col-liste .artiste {
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 1.6em;
  line-height: 1.6em;
}
.layout-bloc .trans {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  opacity: 1;
  font-style: normal;
}
.layout-bloc .buy-xs-button {
  background-color: black;
  color: white;
}
.layout-bloc .title {
  margin-bottom: 20px;
}
.layout-bloc .buy {
  position: relative important;
  top: 35px !important;
}
.layout-bloc .buy .buy-icon {
  font-size: 20px;
  margin-right: 10px !important;
}
.layout-bloc .buy_bloc2 {
  position: relative important;
  top: 30px !important;
}
.layout-bloc .buy_bloc2 .buy-icon {
  font-size: 20px;
  margin-right: 10px !important;
}
.layout-bloc.boxed {
  box-shadow: auto !important;
}
.layout-bloc.boxed:last-child {
  border-bottom: none !important;
}
.layout-bloc .song-img-zone .song-play-icon {
  display: block;
  font-size: 350%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.layout-bloc .song-img-zone .song-play-icon.little-play {
  font-size: 210%;
}
.note h2 {
  background: #e52d27;
}
.list-text-intro {
  display: block;
  color: #000000 !important;
  line-height: 30px;
  text-align: justify;
  text-overflow: ellipsis;
  line-height: 1.6em;
}
.list_element.first_element .list_text {
  margin-bottom: 20px;
}
.list_element.first_element .mobile-separator {
  width: 100%;
  height: 10px !important;
  margin-top: 5px !important;
  margin-botom: 5px !important;
}
.ckoi_form,
.agenda_form {
  border-bottom: 4px solid #e52d27;
}
.ckoi_form .submitckoi,
.agenda_form .submitckoi {
  color: white;
  background-color: #e52d27;
}
.layout-bloc h2 {
  font-family: "helvetica neue", helvetica, arial;
  width: 100%;
  font-weight: 400;
  margin-bottom: 15px;
  text-overflow: ellipsis;
}
.layout-bloc .list-text-intro {
  text-overflow: ellipsis;
  line-height: 1.6em;
  height: 3.2em;
  -webkit-line-clamp: 4;
}
.layout-bloc .ckoi_hour {
  text-align: center;
  font-size: 25px;
}
@media (min-width: 1200px) {
  .layout-bloc.par4 .title-col .song-info {
    font-size: 1.1em !important;
    text-align: left;
    margin-bottom: 3px;
  }
  .layout-bloc.par4 .title-col {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.bloc-par2 h2,
.bloc-par3 h2,
.bloc-par2.wrap h4,
.bloc-par3.wrap h4 {
  font-size: 20px;
  color: #000000 !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Helvetica" !important;
}
.bloc-par2 h2:hover,
.bloc-par3 h2:hover,
.bloc-par2.wrap h4:hover,
.bloc-par3.wrap h4:hover {
  color: #e52d27 !important;
}
.bloc-par2.wrap h4.ellipsis.ellipsis-3l,
.bloc-par3.wrap h4.ellipsis.ellipsis-3l {
  max-height: 75px;
}
.bloc-par2.wrap h4.ellipsis.ellipsis-2l,
.bloc-par3.wrap h4.ellipsis.ellipsis-2l {
  max-height: 50px;
}
.bloc-par2.wrap h4.ellipsis.ellipsis-1l,
.bloc-par3.wrap h4.ellipsis.ellipsis-1l {
  max-height: 25px;
}
.bloc-par2.wrap h4,
.bloc-par3.wrap h4 {
  line-height: 25px;
}
.bloc-par2 h2.ellipsis.ellipsis-3l,
.bloc-par3 h2.ellipsis.ellipsis-3l {
  max-height: 75px;
}
.bloc-par2 h2.ellipsis.ellipsis-2l,
.bloc-par3 h2.ellipsis.ellipsis-2l {
  max-height: 50px;
}
.bloc-par2 h2.ellipsis.ellipsis-1l,
.bloc-par3 h2.ellipsis.ellipsis-1l {
  max-height: 25px;
}
.bloc-par2 h2,
.bloc-par3 h2 {
  line-height: 25px;
}
.bloc-par2 .trans,
.bloc-par3 .trans {
  display: block;
  font-size: 13px;
  color: #e52d27 !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Helvetica" !important;
}
.bloc-par3 h2 {
  font-size: 18px;
}
.bloc-par3 h2:hover {
  color: #e52d27 !important;
}
.bloc-par3 h2.ellipsis.ellipsis-3l {
  max-height: 69px;
}
.bloc-par3 h2.ellipsis.ellipsis-2l {
  max-height: 46px;
}
.bloc-par3 h2.ellipsis.ellipsis-1l {
  max-height: 23px;
}
.bloc-par3 h2 {
  line-height: 23px;
}
.bloc-par3 .trans {
  font-size: 13px;
  color: #e52d27 !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Helvetica" !important;
}
.bloc-par4 h2 {
  font-size: 16px;
}
.bloc-par4 h2:hover {
  color: #e52d27 !important;
}
.bloc-par4 h2.ellipsis.ellipsis-3l {
  max-height: 60px;
}
.bloc-par4 h2.ellipsis.ellipsis-2l {
  max-height: 40px;
}
.bloc-par4 h2.ellipsis.ellipsis-1l {
  max-height: 20px;
}
.bloc-par4 h2 {
  line-height: 20px;
}
.bloc-par4 .trans {
  font-size: 13px;
  color: #e52d27 !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0;
  font-family: "Helvetica" !important;
}
.afficher-content {
  font-family: "Helvetica" !important;
}
.afficher-content p {
  font-size: 16px;
  font-family: "Helvetica";
  color: #000000;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  text-transform: none;
}
.centered {
  text-align: center;
}
.player-colored {
  color: #e52d27 !important;
}
#date_diffusion + .bootstrap-datetimepicker-widget table td.active,
#date_agenda + .bootstrap-datetimepicker-widget table td.active,
#date_diffusion + .bootstrap-datetimepicker-widget table td.active:hover,
#date_agenda + .bootstrap-datetimepicker-widget table td.active:hover,
#date_diffusion + .bootstrap-datetimepicker-widget .btn-primary,
#date_agenda + .bootstrap-datetimepicker-widget .btn-primary {
  background-color: #e52d27;
}
#date_diffusion + .bootstrap-datetimepicker-widget table td a span,
#date_agenda + .bootstrap-datetimepicker-widget table td a span,
#date_diffusion + .bootstrap-datetimepicker-widget table thead span,
#date_agenda + .bootstrap-datetimepicker-widget table thead span {
  color: #e52d27;
}
#date_diffusion + .bootstrap-datetimepicker-widget table td.today:not(.active):before,
#date_agenda + .bootstrap-datetimepicker-widget table td.today:not(.active):before {
  border-bottom-color: #e52d27;
}
.rss-link {
  display: block;
  margin-top: -44px;
}
.artistes-toptitrecol .top-play-button {
  color: #e52d27;
}
ul.pagination li span.deactive,
ul.pagination li a.active span {
  font-family: "Helvetica" !important;
  font-size: 14px !important;
  background: linear-gradient(to bottom, #e52d27, #e52d27) !important;
  color: #ffffff !important;
}
ul.pagination-custom li span,
ul.pagination-custom li a {
  font-family: "Helvetica" !important;
  font-size: 14px !important;
  background: linear-gradient(to bottom, #ffffff, #ffffff) !important;
  color: #2a2a2a !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-transform: none !important;
}
ul.pagination-custom li span:hover,
ul.pagination-custom li a:hover,
ul.pagination-custom li span:focus,
ul.pagination-custom li a:focus {
  color: #ffffff !important;
  background: linear-gradient(to bottom, #e52d27, #e52d27) !important;
  border: none;
}
.pagination-custom > li > a.active {
  color: #ffffff !important;
  background: linear-gradient(to bottom, #e52d27, #e52d27) !important;
}
.pagination-custom li a,
.pagination-custom li .deactive {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4) !important;
  border-left: 0px solid #ff0000 !important;
  border-right: 0px solid #ff0000 !important;
  border-top: 0px solid #ff0000 !important;
  border-bottom: 0px solid #ff0000 !important;
}
.btn:not(.btn-toplink) {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  font-size: 14px;
  color: #e52d27;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ff0000;
  font-family: "Helvetica";
  font-family: "Oswald" !important;
}
.btn:not(.btn-toplink):hover,
.btn:not(.btn-toplink):focus {
  color: #ffffff !important;
  background: linear-gradient(to bottom, #e52d27, #e52d27);
}
.btn:not(.btn-toplink).btn-lg {
  background: linear-gradient(to bottom, #cf231d, #cf231d) !important;
  font-size: 18px;
  font-family: "Helvetica" !important;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-left: 0px solid #ff0000;
  border-right: 0px solid #ff0000;
  border-top: 0px solid #ff0000;
  border-bottom: 0px solid #ff0000;
  font-family: "Oswald" !important;
}
.btn:not(.btn-toplink).btn-lg:hover,
.btn:not(.btn-toplink).btn-lg:focus {
  color: #ffffff !important;
  background: linear-gradient(to bottom, #d52e2c, #d52e2c) !important;
}
.article .testimonial-author span {
  color: #e52d27;
}
.article .testimonial-msg,
#list-comments .comment_content {
  background: #f9f9f9;
}
.article .testimonial-msg,
#list-comments .comment_content {
  background: #f9f9f9;
}
#list-comments .avatar-default {
  background: #e52d27;
}
#comments.comment-row h4 {
  border-bottom: 2px solid #e52d27;
  color: #e52d27 !important;
}
.form-control:focus {
  border-color: #e52d27;
}
#closemenuButton:before,
#closemenuButton:after {
  background: #e52d27;
}
.calendar .fa {
  color: #e52d27;
}
.program-date {
  color: #e52d27;
  text-transform: uppercase;
  font-weight: bold;
}
.highlight {
  box-shadow: 0px 0px 10px red, inset 0px 0px 10px red !important;
}
